.boton-width {
  width: 55px;
}

.rifa-link {
  text-decoration: none;
  color: black;
}

.rifa-link:hover {
  padding: 0 1rem 1rem 1rem;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  background-color: white;
}
